.env
.venv
.vscode
.features

docs/node_modules/
docs/.vitepress/

demo-viewer-dash/__pycache__/

demo-viewer-dash/assets/baselode-module.js

demo-viewer-react/app/dist/
demo-viewer-react/app/node_modules/
demo-viewer-react/app/public/data/nvcl/

docs/.vitepress/cache/
docs/.vitepress/dist/
docs/node_modules/

javascript/packages/baselode/dist/
javascript/packages/baselode/node_modules/

python/src/baselode/__pycache__/
python/src/baselode/drill/__pycache__/
python/src/baselode/blockmodel/__pycache__/
python/src/baselode/grade_blocks/__pycache__/
python/src/baselode.egg-info/
python/src/build/
python/dist/

test/__pycache__/
test/data/nvcl

.claude
AI_CONTEXT.md
CODE_STYLE.md
